<% include header %>

  <div style="overflow-y: scroll;height:350px;" class="container">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-3">User</th>
            <th class="col-sm-3">Tweet</th>
            <th class="col-sm-3">Emoji</th>
            <th class="col-sm-3">Done</th>
          </tr>
        </thead>
        <tbody>
          <tr class="success" ng-repeat="tweet in tweets | reverse">
            <td>
              <img src="{{tweet.user.profile_image_url}}" style="height:40px;width:40px;"></img>@{{tweet.user.screen_name}}
              <br>at &nbsp {{tweet.created_at}}
            </td>
            <td>
              <p>{{tweet.text}} </p>
            </td>
            <td style=" word-wrap:normal;">
              <p style="width:55%;" class="lead emoji-picker-container">
                <input id="emoji" type="text" class="form-control" placeholder="emoji" data-emojiable="true">
              </p>
              <td>



                <button class="btn btn-default" onclick="convert()">
                  <img src="/lib/img/tick.png" width="20" />

                </button>
                <p id="output"> </p>

              </td>
              <script>
                $(function() {
                  // Initializes and creates emoji set from sprite sheet
                  window.emojiPicker = new EmojiPicker({
                    emojiable_selector: '[data-emojiable=true]',
                    assetsPath: 'lib/img/',
                    popupButtonClasses: 'fa fa-smile-o'
                  });
                  // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
                  // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
                  // It can be called as many times as necessary; previously converted input fields will not be converted again
                  window.emojiPicker.discover();
                });
              </script>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
  </div>
  <footer>
    <div class="container">
      <p class="text-muted">
        <strong>&lt;&gt;</strong> with &hearts; by <a href="http://128bits.co">128bits</a> in
        <strong>PK</strong>
      </p>
    </div>
  </footer>

  <% include footer %>
