<% include header %>
  <div style="overflow-y: scroll;height:350px;" class="container">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-3">User</th>
            <th class="col-sm-3">Tweet</th>
            <th class="col-sm-3">Emoji</th>
            <th class="col-sm-3">Done</th>
          </tr>
        </thead>
        <tbody>
          <tr class="success" ng-repeat="tweet in tweets | reverse">
            <td>
              <img src="{{tweet.user.profile_image_url}}" style="height:40px;width:40px;"></img>@{{tweet.user.screen_name}}
              <br>at &nbsp {{tweet.created_at}}
            </td>
            <td>
              <p>{{tweet.text}} </p>
            </td>
            <td style=" word-wrap:normal;">
              <p style="width:55%;" class="lead emoji-picker-container">
                <input id="emoji" type="text" class="form-control" placeholder="emoji" data-emojiable="true">
              </p>
              <td>
                <button class="btn btn-default" onclick="convert()">
                  <img src="/lib/img/tick.png" width="20" />
                </button>
                <p id="output"> </p>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
  </div>
  <footer>
    <div class="container">
      <p class="text-muted">
        <strong>&lt;&gt;</strong> with &hearts; by <a href="http://128bits.co">128bits</a> in
        <strong>PK</strong>
      </p>
    </div>
  </footer>
  <% include footer %>
