<!doctype html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Begin emoji-picker Stylesheets -->
    <link href="lib/css/nanoscroller.css" rel="stylesheet">
    <link href="lib/css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="assets/css/emojione.min.css" type="text/css" media="all" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <style media="screen">
      .emojione{
        height: 3ex;
        margin-top: 370px;
        margin-left: 650px;
        position: absolute;clip: rect(100, 100px, 100px, 100px);
      }
    </style>
  </head>
  <body id="ctrl" ng-controller="MyCtrl" <% if (title === "Say it with Emoji") {
    %> style="background-color:rgb(27, 42, 237)"<% }
    %>>


      <div id="smiles" ng-bind-html="currentDisplay.emoji | unsafe">
      </div>
      <div id="rest">
      <img id="smile0"  class="smiley" src="lib/img/1F1F5-1F1F0.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile1"  class="smiley" src="lib/img/1F3AE.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile2"  class="smiley" src="lib/img/1F3B6.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile3"  class="smiley" src="lib/img/1F60A.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile4"  class="smiley" src="lib/img/1F60B.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile5"  class="smiley" src="lib/img/1F60C.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile6"  class="smiley" src="lib/img/1F60D.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile7"  class="smiley" src="lib/img/1F60E.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile8"  class="smiley" src="lib/img/1F60F.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile9"  class="smiley" src="lib/img/1F61A.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile10"  class="smiley" src="lib/img/1F61B.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile11"  class="smiley" src="lib/img/1F61C.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile12"  class="smiley" src="lib/img/1F61D.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile13"  class="smiley" src="lib/img/1F61E.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile14"  class="smiley" src="lib/img/1F61F.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile15"  class="smiley" src="lib/img/1F62A.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile16"  class="smiley" src="lib/img/1F62B.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile17"  class="smiley" src="lib/img/1F62C.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile18"  class="smiley" src="lib/img/1F62D.png" width="20" style="margin-top:200px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
      <img id="smile19"  class="smiley" src="lib/img/1F62E.png" width="20" style="margin-top:100px;margin-left:550px;position: absolute;clip: rect(100, 100px, 100px, 100px);" />
    </div>
    <img src="lib/img/Pepsi-can.png" width="300" style='margin-left:550px;margin-top:290px;position: absolute;clip: rect(100, 100px, 100px, 100px);'/>
      <script >
          $(document).ready(function() {
              var j =100;
              for(var i =0;i<20;i++){
                var smiley = "#smile"+i;
                $(smiley).css('marginLeft', j + 'px');
                $(smiley).css('width','100');
             j+=50;
        }
        animate_left();
      });
      </script>
<% include footer %>
