<% include header %>

    <div class="displays">
      <p id="smiles" ng-bind-html="currentDisplay.emoji | unsafe"></p>
    </div>


<script type="text/javascript">
/*
$( document ).ready(function() {
  convert1();
});*/

</script>
<% include footer %>
