
<!-- Begin emoji-picker JavaScript -->
<script src="lib/js/nanoscroller.min.js"></script>
<script src="lib/js/tether.min.js"></script>
<script src="lib/js/config.js"></script>
<script src="lib/js/util.js"></script>
<script src="lib/js/jquery.emojiarea.js"></script>
<script src="lib/js/emoji-picker.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="lib/js/app.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="lib/js/emojione.js"></script>

<script>



    emojione.imageType = 'svg';
    // default is ignore ASCII smileys like :) but you can easily turn them on
    emojione.ascii = true;

    // if you want to host the images somewhere else
    // you can easily change the default paths
    emojione.imagePathPNG = './../assets/png/';
    emojione.imagePathSVG = './../assets/svg/';
  var socket = io();
  socket
    .on('tweet', function(tweet) {
      //  app.addNewItem(tweet);
      console.log(tweet.text);
      var scope = angular.element(document.getElementById('ctrl'))
        .scope();
      scope.addNewItem(tweet);
      scope.$apply();
    });

  function convert() {
    var output = document.getElementById("output");
    var input = document.getElementById("emoji")
      .value;
    var t_text = document.getElementById("t_text")
      .value;

    output.innerHTML = input;
    var tweet2Display = {
      emoji: input,
      tweet: t_text
    };
    socket.emit("display", tweet2Display);
    console.log("Sent tweet to dashboard " + tweet2Display.emoji);
  }
  socket
    .on('display', function(tweet) {
      //  add to display que(tweet);
      console.log("recieved a new tweet " + tweet.emoji);
      var scope = angular.element(document.getElementById('ctrl'))
        .scope();
      scope.addToDisplay(tweet);
      scope.$apply();
    });
    function convert1() {
      var input = document.getElementById('smiles').innerHTML;
      var output = emojione.unicodeToImage(input);
      document.getElementById('smiles').innerHTML = output;
    }
    var animated = false;
    $("#smiles").bind("DOMSubtreeModified", function() {
        var docs =document.getElementsByClassName("emojione");

        docs[0].setAttribute("id","smiley1");
        docs[1].setAttribute("id","smiley2");
        docs[2].setAttribute("id","smiley3");
        if(docs[1]!=null){
          if(!animated){
            animated = true;
        move();
      }

      }
  });
      function move(){
              $("#smiley3").animate({
                  top: '-=270px',
                  height: "10ex",
                  left: '200px'
              }, 4000);
              $("#smiley2").animate({
                  top: '-=270px',
                  height: "10ex"
              }, 4000);
              $("#smiley1").animate({
                  top: '-=270px',
                  left: '-=200px',
                  height: "10ex"
              }, 4000);

      }
      function animate_left(){
        for(var i =0;i<20;i++){
        var  rand =Math.floor((Math.random() * 150) + 50);
        var left1 = '';
        left1 = left1 + rand;
        var smiley = "#smile"+i;
        $(smiley).animate({
            left: left1
          }, 2000,
          function moveLeft(){
            $(smiley).animate({left: left1}, 2000,animate_left)
        }

        );

      }
    }
</script>

</body>
<html>
